:root{
	--azulODM: #fff;
	--naranjaODM: #ababab;
	--rojo: #acacac;
}

@font-face {
	font-family: "Jost";
	src: url("fonts/Jost-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-display: swap;
}

body {
	font-family: "Jost", sans-serif;
	margin: 0px; 
	text-align: center;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

.mainContainer{
	max-width: 1200px;
    display: inline-block;
}

a{text-decoration: none;color: #fff;}
table{font-family: "Jost", sans-serif;display: inline-table;}
select{cursor: pointer;}
input{cursor: pointer;}
input:focus{outline: none;}

@media (max-width: 1000px){
	.iframeEscritorio{display: none;} 
	/* .iframeMovil{display: inline-table !important;}  */
}

.slider{
	background-color: black;
}

.superContent{
    width: 100%;
    text-align: center;
}

.menuBTNflotante{
	width: 45px;
	position: fixed;
	right: -2px;
	bottom: 28%;
	background-color: white;
	border-radius: 100px 0px 0px 100px;
	height: 45px;
	padding: 2px;
	cursor: pointer;
	z-index: 1;
	border: solid 2px #bfdbeb;
}

.menuLateral{text-align: left; background-color: white; width: 250px; position: fixed; right: -320px; z-index: 444; bottom: 36%; height: 250px; overflow-y: auto;box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);padding-left:10px;}


.menuLateral p{padding: 7px 17px;color: black;font-weight: bold;font-family: "Jost", sans-serif;border-bottom: solid 1px gray;text-transform: uppercase;} 

.abatible{display: inline-table;}

.logos{display: inline-block;margin-top: 5px;}

.navHeader{max-width: 1200px;display: inline-table;text-transform: uppercase;}
.navHeader a{font-weight: bold;color: #BF2C2B;}

.menuMobil{cursor: pointer;max-width: 450px; border-collapse:collapse}

.logoMobil_ {margin-left:-30px}

.btnComprar{
	cursor: pointer;
	background-color: #a4333b;
	color: white;
	padding: 20px 15px;
	border-radius: 6px;
	font-family: "Jost", sans-serif;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 3px;
	opacity: 0;
	font-weight: bold;
	width: 120px;
}

.btnIntercambiar{
	cursor: pointer;
	background-color: #2d6fae;
	color: white;
	padding: 10px 8px;
	border-radius: 6px;
	font-family: "Jost", sans-serif;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 3px;
	opacity: 0;
	font-weight: bold;
	width: 134px;
}


.formato{
	text-align: left;
	border-bottom: solid 2px #efefef;
	border: solid 1px gray;
	height: 40px;
	border-radius: 6px;
}

.pasaj{
	/*background-color: gray;*/
	width: 59px; 
	display: inline-table;
	font-size: 11px;
	font-family: "Jost", sans-serif;
	border-collapse: collapse;
}

.labels{
	font-family: "Jost", sans-serif;
	font-size: 12px;
	color: black;
	padding-bottom: 8px;
	opacity: 0;
	margin-top: 20px;
	text-align: left;
	margin-left: 11px;
	white-space:nowrap;
}

.btnPasajeros{
	-webkit-appearance: none; 
	appearance: none;
	width: 40px; 
	background: url("../../imagesApp/noArrow.png") 90% center no-repeat rgb(255, 255, 255); 
	height: 40px; 
	border-radius: 100px; 
	padding-left: 15px;
	border: solid 1px #c8c8c8;
	font-size: 14px;
	color: gray;
}

.valores{
	width: 100%;
	font-family: "Jost", sans-serif;
	font-size: 14px;
	padding: 6px 0px 6px 8px;
	border: solid 1px white;
}
.valoresB{
	font-family: "Jost", sans-serif;
	font-size: 14px;
	padding: 6px 0px 6px 8px;
	border: solid 1px white;
	width: 90%;
	top: 3px;
	position: relative;
	font-weight: bold;
}

.valoresC{
	font-family: "Jost", sans-serif;
	font-size: 14px;
	padding: 6px 0px 6px 8px;
	border: solid 1px white;
	width: 116px;
	top: 3px;
	position: relative;
	font-weight: bold;
}

.tablaPasajeros{
	background-color: white;
	position: absolute;
	width: 200px;
	margin-left: -47px;
	margin-top: 13px;
	border: solid 1px gray;
	border-radius: 8px;
	padding: 6px;
	z-index: 44;
}

.linea-bottom{border-bottom:solid 1px gray;}

.ladoA{border-radius: 6px 0px 0px 6px;position: relative;right: -5px;}
.ladoB{border-radius: 0px 6px 6px 0px;}

.titulo{
	font-weight: bold;
	font-size: 18px;
	padding: 10px 0px;
}
.subTitulo{
	font-size: 12px;
	margin-bottom: 5px;
}



.verEsc{
	max-width: 1100px;
	display: inline-table;
	background-color: white;
	opacity: 1;
	border-radius: 12px;
	padding: 5px;
	display: none;
	box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}

.verMobil{
	display: inline-table;
	box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}

@media (min-width:1115px){
	.verMobil{display: none;} 
	.verEsc{display: inline-table;}
}

@media (max-width:900px){
	.mobilDisplay{display: none;} 
	.webDisplay{display: inline-table;}
}


.bloque{
	background-color: #003368;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: "Jost", sans-serif;
}

footer{text-align: center;margin-top: 20px;}

.footerTable{
	font-size: 12px;
	font-weight: 400;
	font-family: "Jost", sans-serif;
	margin-top: 16px;
	width: 100%;
	max-width: 450px;
	text-align: center;
    text-transform: uppercase;
}

.footerTable a {
	display: inline-block;
}

.reservacionesTxt{
	font-size: 28px;
    font-weight: bold;
    padding: 10px 0px;
    margin-top: 25px;
    text-transform: uppercase;
    color: #BF2C2B;
	margin-bottom: 18px;
}


.carrusel {
    width: 80%;
    overflow: hidden;
    background: white;
    position: relative;
    top:-4px;
}

.carrusel-contenedor {
    display: flex;
    transition: transform 0.5s ease;
    overflow-x: auto;
    scrollbar-width: none;
}

.carrusel-contenedor::-webkit-scrollbar {
    display: none;
}

.carrusel-contenedor img {
    width: 12.5%;
    flex-shrink: 0;
    padding: 10px;
    box-sizing: border-box;
}

.info{ font-size: 12px;text-align: center;text-decoration: underline;position: relative;font-style: italic;cursor: pointer;color: black;padding:8px 0px; opacity: 0;}



.carrusel-mobil {
    width: 100%;
    max-width: 600px;
    height: 44px;
    overflow: hidden;
    background: white;
}

.carrusel-contenedor-mobil {
    display: flex; /* Organiza las imágenes en fila */
    /*width: 25%;*/ /* 4 imágenes, así que el ancho del contenedor es 4 veces más grande */
    transition: transform 0.5s ease; /* Movimiento suave */
    overflow-x: auto;
    scrollbar-width: none;
    width: 320px;
}

.carrusel-contenedor-mobil::-webkit-scrollbar {
    display: none;
} 

.carrusel-contenedor-mobil img {
    width: 70px; /* Cada imagen ocupa todo el contenedor visible */
    height: 100%; /* Ajusta la altura al tamaño del carrusel */
    object-fit: cover; /* Asegura que las imágenes encajen perfectamente */
    padding: 5px;
}

.cargar{
    background-color: #003368;
    width: 150px;
    border-radius: 100px;
    padding: 15px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
    color: white;
    font-family: "Jost", sans-serif;
    margin-top: 10px;
    cursor: pointer;
}


#articulos{ text-align: center;white-space: nowrap;width: 100%;overflow-x: scroll;display: inline-block;max-width: 1024px;}

	.tablaRes{
		border-radius: 12px;
    	padding: 5px;
    	height: 255px;
        background-color: #efefef;
        border-collapse: collapse;
		margin: 18px;
		font-family: 'Atlassian Sans',sans-serif;
	}

	.resultado{
	    padding: 6px;
	    border-radius: 8px;
	    margin: 4px;
	    display: inline-block;
	    margin-bottom: 30px;
		cursor:pointer;
		background-color:transparent;
	}

	.tituloBlog{
		font-weight: bold;
	    font-size: 16px;
	    text-align: center;
	    padding: 9px 0px;
	    color: #313131;
	    white-space: break-spaces;
	}

	.descBlog{
		font-size: 12px;
	    text-align: left;
	    padding: 0px 5px;
	    color: #313131;
	    white-space: break-spaces;
	}

	.desc{
		padding: 5px;
        border-radius: 6px;
        color: gray;
        font-weight:bold;
	}

    .vermas{background-color: #003767;width: 100px;border-radius: 100px;padding: 10px;font-size: 12px;font-weight: bold;display: inline-block;margin-bottom: 10px;}

	.seccion{
        color: black;
        padding: 5px 0px;
        display: inline-block;
        text-transform: uppercase;
        background-color: #FCD22D;
        font-family: "Jost", sans-serif;
        font-weight: bold;
        width: 100%;
        max-width: 500px;
        font-size: 20px;
    }
	
	.sub{color: #5a94cf;
		font-size: 20px;
		font-weight: 800;
		padding: 10px 0px;}

	.footer_aviso{width: 100%;max-width: 450px;}

.facebook{background-color: #6363DB;border-radius: 100px;padding: 5px;}
.whatsapp{background-color: #36A511;border-radius: 100px;padding: 5px;}
.x{background-color: #26267F;border-radius: 100px;padding: 5px;}
.instagram{background-color: #BFB130;border-radius: 100px;padding: 5px;}
.email{background-color: #EA0C41;border-radius: 100px;padding: 5px;}

.rssBtn{
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}
.rssBtn:hover{
    opacity: 1;
}

.spc{
    padding: 15px;
}

.conTelefono{
    padding: 5px;
    cursor: pointer;
    border: solid 1px white;
    height: 16px;
    border-radius: 4px;
    margin-bottom: 6px;
    width: 100px;
}

.minicon{
	width: 10px;
	height: 10px;
}

.tblTitulo{
	text-align: left;
    padding-left: 15px;
    font-weight: bold;
    font-size: 23px;
    color: #BF2C2B;
}

.tblServicios{
	border: solid 1px #C6C6C5;
    margin: 5px;
    width: 100%;
    max-width: 410px;
}

.tblServicios2x{
	border: solid 1px #C6C6C5;
    margin: 5px;
    width: 100%;
    max-width: 830px;
    text-align: left;
}

.tbl2xcontrol{
	text-align: left;
}

@media (max-width: 845px){
	.tbl2xcontrol{
		text-align: center;
	}
	.tblServicios2x{
		max-width: 410px;
	}
}



.tblDesc{
	font-weight: bold;
    text-align: left;
    padding-left: 18px;
}

.tblBtn{
	text-transform: uppercase;
    background-color: #BF2C2B;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    border-radius: 8px;
    display: inline-table;
    margin: 5px;
    font-size: 14px;
	text-align: center;
}

.tblImg img{
	width: 120px;
	height: 120px;
}

.tblImg2x img{
	width: 220px;
	height: 130px;
}

.tblConList{
	width: 100%;
    max-width: 260px;
}
.tblConList2x{
	width: 100%;
    max-width: 460px;
	padding-left: 15px;
}

.tblList{
	text-align: left;
    font-size: 15px;
	height: 130px;
	overflow-y: scroll;
}

.scroll-indicator {
  position: sticky;
  bottom: 5px;
  right: 10px;
  font-size: 1.5em;
  pointer-events: none;
  transition: opacity 0.3s;
  color: #C6C6C5;
  text-align: right;
  opacity: 0;
}

.scroll-indicator.show {
  opacity: 1;
}